<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heshicaihao.recorded">
	
	<uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.heshicaihao.recorded.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		<activity android:name="com.heshicaihao.recorded.activity.RecordedActivity"/>
        <activity android:name="com.heshicaihao.recorded.activity.EditVideoActivity"
            android:windowSoftInputMode="adjustResize|adjustPan"/>
        <activity android:name="com.heshicaihao.recorded.activity.CutSizeActivity"/>
        <activity android:name="com.heshicaihao.recorded.activity.CutTimeActivity"/>
    </application>

</manifest>